 body {font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #D6E4F0;}
       body {
      
    }
    h1 {
      text-align: center;
      padding: 20px;
      background: #1E56A0;
      color: #D6E4F0;
      margin: 0;
    }



.cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 50px;
      max-width: 900px;
      margin: 30px auto;
      padding: 20px;
    }
    .card {
      background: #1E56A0;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(55, 72, 72, 0.1);
      text-align: center;
      transition: transform 0.3s;
    }
    .card:hover {
      transform: scale(1.05);
    }
    .card h2 {
      margin-bottom: 15px;
      color: #D6E4F0;
    }
    .card p {
      color: #D6E4F0;
      font-size: 14px;
    }

    /* --- Tabs layout --- */
    .tabs {
      display: flex;
      justify-content: center;
      background: #222;
    }
    .tabs button {
      flex: 1;
      padding: 15px;
      border: none;
      background: #163172;
      color: #D6E4F0;
      cursor: pointer;
      transition: background 0.3s;
    }
    .tabs button:hover, .tabs button.active {
      background: #D6E4F0;
    }
    .content {
      max-width: 600px;
      margin: 40px auto;
      padding: 20px;
      background: #D6E4F0;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      display: none;
    }
    .content.active {
      display: block;
    }
   #navbar{
    height: 40px;
    background-color: #03233e;
    color: rgb(206, 194, 194);
}
a{
    margin-right: 250px;
    text-align: center;
    text-decoration: none;
    color: #2985e2;
} 
a1 {

    margin-right: 250px;
    text-align: center;
    text-decoration: none;
    color: #1658f1;
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
  }
 div.card:hover{
    background-color: rgb(112, 148, 225);
    color: rgb(205, 184, 184); */
     font-size: 20px; */
     transform: scale(2,2); */
     transform: rotate(360deg); */
     transform: skew(10deg);

}

div.card:active{
background-color: rgb(75, 88, 119);

}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
  }